<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
<img src="https://aboutet.github.io/shabrakross24/assets/images/shabrakross3.jpg">
    <br><h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless"> LA KOURSE</h3>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://collectives.cafannecy.fr/collectives/8148-shabrakross-edition-speciale-les-20-ans-du-shabrakistan"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Inscription adhérent CAF Annecy</a>
                            </a>
                        </div>
                        <div>
                            <a href="mailto:{{site.email}}?subject=Inscription Shabrakross autres CAF&body=Merci de renseigner votre nom/prenom, numéro de téléphone, numéro de licence ainsi que le CAF d'appartenance."
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Inscription adhérent autres CAF</a>
                            </a>
                        </div>
                        
                        
                    </div>
                    <br><br>
                    <div class="container columns is-centered">
                    <br><br><br>
                                    <a id="contact-button" href="mailto:{{site.email}}?subject=Info Shabrakross"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i> Contacter l'équipe par mail
            </a>
            </div>
                </div>
            </div>
        </div>
</section>
