<section class="hero is-fullheight has-text-centered" id="contact">
    <hr>
    <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless"> 20 ANS</h3>
   <br>
    
    ! édition spéciale 20 ans du ShabraKistan !
    
    <div style="text-align:center">
    
 
    <img src="https://aboutet.github.io/shabrakross24/assets/images/shabrak.png" width="300"><br><br>
    
    2023<br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2023.jpg" width="400"><br><br>
    
    2020<br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2019.jpg" width="400"><br><br>
    
    2019<br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2019-2.jpg" width="400"><br><br>
    
    2018<br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2018.jpg" width="400"><br>
    
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2018-2.jpg" width="400"><br><br>
    
    2017 - <a href="https://www.youtube.com/watch?v=7byCceDUDpA" target="_blank">video</a> <br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2017-2.png" width="400"><br>
    
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2017.png" width="400"><br><br>
    
    2015 - <a href="https://www.skipass.com/videos/shabrakross-2015.html" target="_blank">video</a><br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2015.png" width="400"><br><br>
    
    2014 - <a href="https://www.skipass.com/videos/shabrakross-2014.html" target="_blank">video</a><br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/2014.png" width="400"><br><br>
    
    </div>
    <div class="hero-body">
    
        <div class="container">
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% unless site.email == %}
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                Partenaires
            </h3>
            <br>
            <br>
            <div style="text-align:center">
     
    		<img src="https://aboutet.github.io/shabrakross24/assets/images/logo-caf.png" width="200"><br><br>
    		<img src="https://aboutet.github.io/shabrakross24/assets/images/farto.png" width="200"><br><br>
    		<img src="https://aboutet.github.io/shabrakross24/assets/images/pathe.jpg" width="180"><br><br>		
    		<img src="https://aboutet.github.io/shabrakross24/assets/images/versantnord.png" width="160"><br><br>
    
    <br><br><br>
    <img src="https://aboutet.github.io/shabrakross24/assets/images/affiche.png" width="500"><br>
    	   </div>
            
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
